.dashboard {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.video-table table {
  width: 100%;
  border-collapse: collapse;
}

.video-table th, .video-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.video-table th {
  background-color:#3ea252b0;
  font-weight: bold;
}

.video-table td a {
  color: #3498db;
  text-decoration: none;
}

.video-table td ul {
  list-style-type: none;
  padding: 0;
}

.video-table td ul li {
  display: inline;
  margin-right: 10px;
}

.video-table th.red{
  background-color: rgba(203, 60, 60, 0.856);
}