.dashboard {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.video-table table {
  width: 100%;
  border-collapse: collapse;
}

.video-table th, .video-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.video-table th {
  background-color:#3ea252b0;
  font-weight: bold;
}

.video-table td a {
  color: #3498db;
  text-decoration: none;
}

.video-table td ul {
  list-style-type: none;
  padding: 0;
}

.video-table td ul li {
  display: inline;
  margin-right: 10px;
}

.video-table th.red{
  background-color: rgba(203, 60, 60, 0.856);
}

@media (max-width: 768px) {
  .video-table table {
    display: block;
    width: 100%;
  }

  .video-table thead {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }

  .video-table th, .video-table td {
    display: block;
    width: 100%;
  }

  .video-table th {
    padding: 10px 0;
  }

  .video-table td {
    border-top: 1px solid #ddd;
    padding: 10px 0;
  }

  .video-table td:before {
    content: attr(data-label) ": ";
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* Hide data-label attribute on larger screens */
  .video-table td[data-label] {
    display: none;
  }

  @media (max-width: 480px) {
    .video-table td:before {
      font-size: 0.8em; /* Adjust font size for smaller screens */
    }
  }
}
