.video-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 450px; /* Establece una altura máxima para activar el scroll */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #2e2c2c;
  overflow-y: auto; /* Permite el desplazamiento vertical */
}



/* Personaliza la barra de desplazamiento */
.video-form::-webkit-scrollbar {
  width: 8px;
}

.video-form::-webkit-scrollbar-track {
  background: #383636;
  border-radius: 10px;
}

.video-form::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}

.video-form::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

.checkbox-group {
  margin-bottom: 15px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  color: #fff;
}

.custom-checkbox {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #383636;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.video-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.video-form button:hover {
  background-color: #0056b3;
}
