.video-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #2e2c2c;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.video-form label {
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
}

.video-form input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #383636;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.video-form input[type="text"]:focus {
  background-color: #454242;
  outline: none;
}

.checkbox-group {
  margin-bottom: 15px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  color: #fff;
}

.custom-checkbox {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #383636;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.video-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.video-form button:hover {
  background-color: #0056b3;
}
